body,
div,
html {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  max-width: 640px;
  margin: 0 auto;
}
html,
body {
  width: 100%;
  height: 100%;
  perspective:900px;
}
#view {
  margin: 0 auto;
  width: 640px;
  height: 1200px;
  overflow:hidden;
  perspective:900px;
}
.stage {
  width: 640px;
  height: 1200px;
  transform-style:preserve-3d;
  transform-origin: 50% 50% 0;
  transtion: transform 10s;
}
.slice-wrap {
  position: relative;
  margin: 0 auto;
  width: 130px;
  height: 1200px;
  transform-style:preserve-3d;
}
.slice {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 1200px;
  background-size: 100% 100%;
  transform-style: preserve-3d;
  backface-visibility:hidden;
  background-color: #eee;
}
#test {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}